#k0
	NET "k0<0>" LOC = "P154"| IOSTANDARD = LVTTL ;  
	NET "k0<1>" LOC = "P148"| IOSTANDARD = LVTTL ; 
	NET "k0<2>" LOC = "P142"| IOSTANDARD = LVTTL ; 
	NET "k0<3>" LOC = "P136"| IOSTANDARD = LVTTL ; 
	NET "k0<4>" LOC = "P130"| IOSTANDARD = LVTTL ; 
	NET "k0<5>" LOC = "P124"| IOSTANDARD = LVTTL ; 
	NET "k0<6>" LOC = "P118"| IOSTANDARD = LVTTL ; 
	NET "k0<7>" LOC = "P110"| IOSTANDARD = LVTTL ; 
	
#k1
	NET "k1<0>" LOC = "P174"| IOSTANDARD = LVTTL ;  
	NET "k1<1>" LOC = "P204"| IOSTANDARD = LVTTL ; 
	NET "k1<2>" LOC = "P194"| IOSTANDARD = LVTTL ; 
	NET "k1<3>" LOC = "P175"| IOSTANDARD = LVTTL ; 
	NET "k1<4>" LOC = "P169"| IOSTANDARD = LVTTL ; 
	NET "k1<5>" LOC = "P101"| IOSTANDARD = LVTTL ; 
	NET "k1<6>" LOC = "P97"| IOSTANDARD = LVTTL ; 
	NET "k1<7>" LOC = "P96"| IOSTANDARD = LVTTL ; 
	
#k2
	NET "k2<0>" LOC = "P94"| IOSTANDARD = LVTTL ;  
	NET "k2<1>" LOC = "P93"| IOSTANDARD = LVTTL ; 
	NET "k2<2>" LOC = "P91"| IOSTANDARD = LVTTL ; 
	NET "k2<3>" LOC = "P90"| IOSTANDARD = LVTTL ; 
	NET "k2<4>" LOC = "P89"| IOSTANDARD = LVTTL ; 
	NET "k2<5>" LOC = "P87"| IOSTANDARD = LVTTL ; 
	NET "k2<6>" LOC = "P80"| IOSTANDARD = LVTTL ; 
	NET "k2<7>" LOC = "P78"| IOSTANDARD = LVTTL ; 
	
#k3
	NET "k3<0>" LOC = "P72"| IOSTANDARD = LVTTL;  
	NET "k3<1>" LOC = "P71"| IOSTANDARD = LVTTL; 
	NET "k3<2>" LOC = "P69"| IOSTANDARD = LVTTL; 
	NET "k3<3>" LOC = "P68"| IOSTANDARD = LVTTL; 
	NET "k3<4>" LOC = "P65"| IOSTANDARD = LVTTL; 
	NET "k3<5>" LOC = "P64"| IOSTANDARD = LVTTL; 
	NET "k3<6>" LOC = "P58"| IOSTANDARD = LVTTL; 
	NET "k3<7>" LOC = "P57"| IOSTANDARD = LVTTL; 
#k4
	NET "k4<0>" LOC = "P54"| IOSTANDARD = LVTTL;  
	NET "k4<1>" LOC = "P6"| IOSTANDARD = LVTTL; 
	NET "k4<2>" LOC = "P14"| IOSTANDARD = LVTTL; 
	NET "k4<3>" LOC = "P20"| IOSTANDARD = LVTTL; 
	NET "k4<4>" LOC = "P26"| IOSTANDARD = LVTTL; 
	NET "k4<5>" LOC = "P32"| IOSTANDARD = LVTTL; 
	NET "k4<6>" LOC = "P43"| IOSTANDARD = LVTTL; 
	NET "k4<7>" LOC = "P51"| IOSTANDARD = LVTTL; 
	NET "k4<7>" CLOCK_DEDICATED_ROUTE = FALSE;
	
#s0
	NET "s0<0>" LOC = "P4"| IOSTANDARD = LVTTL;
	NET "s0<1>" LOC = "P5"| IOSTANDARD = LVTTL;
	NET "s0<2>" LOC = "P8"| IOSTANDARD = LVTTL;
	NET "s0<3>" LOC = "P9"| IOSTANDARD = LVTTL;
	NET "s0<4>" LOC = "P11"| IOSTANDARD = LVTTL;
	NET "s0<5>" LOC = "P12"| IOSTANDARD = LVTTL;
	NET "s0<6>" LOC = "P15"| IOSTANDARD = LVTTL;
	NET "s0<7>" LOC = "P16"| IOSTANDARD = LVTTL;
	
#s1
	NET "s1<0>" LOC = "P18"| IOSTANDARD = LVTTL;
	NET "s1<1>" LOC = "P19"| IOSTANDARD = LVTTL;
	NET "s1<2>" LOC = "P22"| IOSTANDARD = LVTTL;
	NET "s1<3>" LOC = "P23"| IOSTANDARD = LVTTL;
	NET "s1<4>" LOC = "P24"| IOSTANDARD = LVTTL;
	NET "s1<5>" LOC = "P25"| IOSTANDARD = LVTTL;
	NET "s1<6>" LOC = "P28"| IOSTANDARD = LVTTL;
	NET "s1<7>" LOC = "P29"| IOSTANDARD = LVTTL;
#ad
	NET "ad<0>" LOC = "P179"| IOSTANDARD = LVTTL;
	NET "ad<1>" LOC = "P178"| IOSTANDARD = LVTTL;
	NET "ad<2>" LOC = "P177"| IOSTANDARD = LVTTL;
	NET "ad<3>" LOC = "P172"| IOSTANDARD = LVTTL;
	NET "ad<4>" LOC = "P171"| IOSTANDARD = LVTTL;
	NET "ad<5>" LOC = "P151"| IOSTANDARD = LVTTL;
	NET "ad<6>" LOC = "P150"| IOSTANDARD = LVTTL;
	NET "ad<7>" LOC = "P147"| IOSTANDARD = LVTTL;
	NET "ad<8>" LOC = "P146"| IOSTANDARD = LVTTL;
	NET "ad<9>" LOC = "P113"| IOSTANDARD = LVTTL;
	NET "ad<10>" LOC = "P115"| IOSTANDARD = LVTTL;
	NET "ad<11>" LOC = "P116"| IOSTANDARD = LVTTL;
	NET "ad<12>" LOC = "P119"| IOSTANDARD = LVTTL;
	NET "ad<13>" LOC = "P140"| IOSTANDARD = LVTTL;
	NET "ad<14>" LOC = "P144"| IOSTANDARD = LVTTL;
	NET "ad<15>" LOC = "P145"| IOSTANDARD = LVTTL;
#data
	NET "data<0>" LOC = "P167"| IOSTANDARD = LVTTL;
	NET "data<1>" LOC = "P165"| IOSTANDARD = LVTTL;
	NET "data<2>" LOC = "P164"| IOSTANDARD = LVTTL;
	NET "data<3>" LOC = "P163"| IOSTANDARD = LVTTL;
	NET "data<4>" LOC = "P162"| IOSTANDARD = LVTTL;
	NET "data<5>" LOC = "P161"| IOSTANDARD = LVTTL;
	NET "data<6>" LOC = "P160"| IOSTANDARD = LVTTL;
	NET "data<7>" LOC = "P153"| IOSTANDARD = LVTTL;
	NET "data<8>" LOC = "P120"| IOSTANDARD = LVTTL;
	NET "data<9>" LOC = "P122"| IOSTANDARD = LVTTL;
	NET "data<10>" LOC = "P123"| IOSTANDARD = LVTTL;
	NET "data<11>" LOC = "P128"| IOSTANDARD = LVTTL;
	NET "data<12>" LOC = "P132"| IOSTANDARD = LVTTL;
	NET "data<13>" LOC = "P133"| IOSTANDARD = LVTTL;
	NET "data<14>" LOC = "P134"| IOSTANDARD = LVTTL;
	NET "data<15>" LOC = "P135"| IOSTANDARD = LVTTL;
#else
	NET "cs" LOC = "P168"| IOSTANDARD = LVTTL;
	NET "wr" LOC = "P152"| IOSTANDARD = LVTTL;
	NET "rd" LOC = "P139"| IOSTANDARD = LVTTL;
	NET "bh" LOC = "P138"| IOSTANDARD = LVTTL;
	NET "bl" LOC = "P137"| IOSTANDARD = LVTTL;
	