//! **************************************************************************
// Written by: Map P.49d on Tue Jul 15 14:49:07 2014
//! **************************************************************************

SCHEMATIC START;
COMP "RD" LOCATE = SITE "P200" LEVEL 1;
COMP "WR" LOCATE = SITE "P199" LEVEL 1;
COMP "BHE" LOCATE = SITE "P197" LEVEL 1;
COMP "CLK" LOCATE = SITE "P75" LEVEL 1;
COMP "PRD" LOCATE = SITE "P187" LEVEL 1;
COMP "PWR" LOCATE = SITE "P189" LEVEL 1;
COMP "RST" LOCATE = SITE "P51" LEVEL 1;
PIN RST_pin<0> = BEL "RST" PINNAME PAD;
PIN "RST_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "nRD" LOCATE = SITE "P139" LEVEL 1;
COMP "nWR" LOCATE = SITE "P152" LEVEL 1;
COMP "TIMEOUT<0>" LOCATE = SITE "P196" LEVEL 1;
COMP "TIMEOUT<1>" LOCATE = SITE "P193" LEVEL 1;
COMP "TIMEOUT<2>" LOCATE = SITE "P192" LEVEL 1;
COMP "TIMEOUT<3>" LOCATE = SITE "P190" LEVEL 1;
COMP "MREQ" LOCATE = SITE "P3" LEVEL 1;
COMP "PREQ" LOCATE = SITE "P186" LEVEL 1;
COMP "ABUSOUT<0>" LOCATE = SITE "P31" LEVEL 1;
COMP "ABUSOUT<1>" LOCATE = SITE "P33" LEVEL 1;
COMP "ABUSOUT<2>" LOCATE = SITE "P34" LEVEL 1;
COMP "ABUSOUT<3>" LOCATE = SITE "P35" LEVEL 1;
COMP "ABUSOUT<4>" LOCATE = SITE "P36" LEVEL 1;
COMP "ABUSOUT<5>" LOCATE = SITE "P39" LEVEL 1;
COMP "ABUSOUT<6>" LOCATE = SITE "P40" LEVEL 1;
COMP "ABUSOUT<7>" LOCATE = SITE "P41" LEVEL 1;
COMP "ABUSOUT<8>" LOCATE = SITE "P42" LEVEL 1;
COMP "ABUSOUT<9>" LOCATE = SITE "P45" LEVEL 1;
COMP "nBHE" LOCATE = SITE "P138" LEVEL 1;
COMP "nBLE" LOCATE = SITE "P137" LEVEL 1;
COMP "adll<0>" LOCATE = SITE "P94" LEVEL 1;
COMP "adll<1>" LOCATE = SITE "P93" LEVEL 1;
COMP "adll<2>" LOCATE = SITE "P91" LEVEL 1;
COMP "adll<3>" LOCATE = SITE "P90" LEVEL 1;
COMP "adll<4>" LOCATE = SITE "P89" LEVEL 1;
COMP "adll<5>" LOCATE = SITE "P87" LEVEL 1;
COMP "adll<6>" LOCATE = SITE "P80" LEVEL 1;
COMP "adll<7>" LOCATE = SITE "P78" LEVEL 1;
COMP "adll<8>" LOCATE = SITE "P72" LEVEL 1;
COMP "adll<9>" LOCATE = SITE "P71" LEVEL 1;
COMP "ABUSOUT<10>" LOCATE = SITE "P47" LEVEL 1;
COMP "ABUSOUT<11>" LOCATE = SITE "P48" LEVEL 1;
COMP "ABUSOUT<12>" LOCATE = SITE "P49" LEVEL 1;
COMP "ABUSOUT<13>" LOCATE = SITE "P50" LEVEL 1;
COMP "ABUSOUT<14>" LOCATE = SITE "P55" LEVEL 1;
COMP "ABUSOUT<15>" LOCATE = SITE "P56" LEVEL 1;
COMP "DBUSOUT<0>" LOCATE = SITE "P60" LEVEL 1;
COMP "DBUSOUT<1>" LOCATE = SITE "P61" LEVEL 1;
COMP "DBUSOUT<2>" LOCATE = SITE "P62" LEVEL 1;
COMP "DBUSOUT<3>" LOCATE = SITE "P63" LEVEL 1;
COMP "DBUSOUT<4>" LOCATE = SITE "P2" LEVEL 1;
COMP "DBUSOUT<5>" LOCATE = SITE "P108" LEVEL 1;
COMP "DBUSOUT<6>" LOCATE = SITE "P109" LEVEL 1;
COMP "DBUSOUT<7>" LOCATE = SITE "P112" LEVEL 1;
COMP "DBUSOUT<8>" LOCATE = SITE "P126" LEVEL 1;
COMP "DBUSOUT<9>" LOCATE = SITE "P127" LEVEL 1;
COMP "nMREQ" LOCATE = SITE "P168" LEVEL 1;
COMP "IDB<0>" LOCATE = SITE "P154" LEVEL 1;
COMP "IDB<1>" LOCATE = SITE "P148" LEVEL 1;
COMP "IDB<2>" LOCATE = SITE "P142" LEVEL 1;
COMP "IDB<3>" LOCATE = SITE "P136" LEVEL 1;
COMP "IDB<4>" LOCATE = SITE "P130" LEVEL 1;
COMP "IDB<5>" LOCATE = SITE "P124" LEVEL 1;
COMP "IDB<6>" LOCATE = SITE "P118" LEVEL 1;
COMP "IDB<7>" LOCATE = SITE "P110" LEVEL 1;
COMP "ODB<0>" LOCATE = SITE "P102" LEVEL 1;
COMP "ODB<1>" LOCATE = SITE "P100" LEVEL 1;
COMP "ODB<2>" LOCATE = SITE "P99" LEVEL 1;
COMP "ODB<3>" LOCATE = SITE "P98" LEVEL 1;
COMP "ODB<4>" LOCATE = SITE "P83" LEVEL 1;
COMP "ODB<5>" LOCATE = SITE "P82" LEVEL 1;
COMP "ODB<6>" LOCATE = SITE "P77" LEVEL 1;
COMP "ODB<7>" LOCATE = SITE "P185" LEVEL 1;
COMP "adll<10>" LOCATE = SITE "P69" LEVEL 1;
COMP "adll<11>" LOCATE = SITE "P68" LEVEL 1;
COMP "adll<12>" LOCATE = SITE "P65" LEVEL 1;
COMP "adll<13>" LOCATE = SITE "P64" LEVEL 1;
COMP "adll<14>" LOCATE = SITE "P58" LEVEL 1;
COMP "adll<15>" LOCATE = SITE "P57" LEVEL 1;
COMP "DBUSOUT<10>" LOCATE = SITE "P129" LEVEL 1;
COMP "DBUSOUT<11>" LOCATE = SITE "P202" LEVEL 1;
COMP "DBUSOUT<12>" LOCATE = SITE "P203" LEVEL 1;
COMP "DBUSOUT<13>" LOCATE = SITE "P205" LEVEL 1;
COMP "DBUSOUT<14>" LOCATE = SITE "P206" LEVEL 1;
COMP "DBUSOUT<15>" LOCATE = SITE "P103" LEVEL 1;
COMP "ABUS<10>" LOCATE = SITE "P115" LEVEL 1;
COMP "ABUS<11>" LOCATE = SITE "P116" LEVEL 1;
COMP "ABUS<12>" LOCATE = SITE "P119" LEVEL 1;
COMP "ABUS<13>" LOCATE = SITE "P140" LEVEL 1;
COMP "ABUS<14>" LOCATE = SITE "P144" LEVEL 1;
COMP "ABUS<15>" LOCATE = SITE "P145" LEVEL 1;
COMP "DBUS<10>" LOCATE = SITE "P123" LEVEL 1;
COMP "DBUS<11>" LOCATE = SITE "P128" LEVEL 1;
COMP "DBUS<12>" LOCATE = SITE "P132" LEVEL 1;
COMP "DBUS<13>" LOCATE = SITE "P133" LEVEL 1;
COMP "DBUS<14>" LOCATE = SITE "P134" LEVEL 1;
COMP "DBUS<15>" LOCATE = SITE "P135" LEVEL 1;
COMP "ABUS<0>" LOCATE = SITE "P179" LEVEL 1;
COMP "ABUS<1>" LOCATE = SITE "P178" LEVEL 1;
COMP "ABUS<2>" LOCATE = SITE "P177" LEVEL 1;
COMP "ABUS<3>" LOCATE = SITE "P172" LEVEL 1;
COMP "ABUS<4>" LOCATE = SITE "P171" LEVEL 1;
COMP "ABUS<5>" LOCATE = SITE "P151" LEVEL 1;
COMP "ABUS<6>" LOCATE = SITE "P150" LEVEL 1;
COMP "ABUS<7>" LOCATE = SITE "P147" LEVEL 1;
COMP "ABUS<8>" LOCATE = SITE "P146" LEVEL 1;
COMP "ABUS<9>" LOCATE = SITE "P113" LEVEL 1;
COMP "DBUS<0>" LOCATE = SITE "P167" LEVEL 1;
COMP "DBUS<1>" LOCATE = SITE "P165" LEVEL 1;
COMP "DBUS<2>" LOCATE = SITE "P164" LEVEL 1;
COMP "DBUS<3>" LOCATE = SITE "P163" LEVEL 1;
COMP "DBUS<4>" LOCATE = SITE "P162" LEVEL 1;
COMP "DBUS<5>" LOCATE = SITE "P161" LEVEL 1;
COMP "DBUS<6>" LOCATE = SITE "P160" LEVEL 1;
COMP "DBUS<7>" LOCATE = SITE "P153" LEVEL 1;
COMP "DBUS<8>" LOCATE = SITE "P120" LEVEL 1;
COMP "DBUS<9>" LOCATE = SITE "P122" LEVEL 1;
COMP "IROUT<10>" LOCATE = SITE "P22" LEVEL 1;
COMP "IROUT<11>" LOCATE = SITE "P23" LEVEL 1;
COMP "IROUT<12>" LOCATE = SITE "P24" LEVEL 1;
COMP "IROUT<13>" LOCATE = SITE "P25" LEVEL 1;
COMP "IROUT<14>" LOCATE = SITE "P28" LEVEL 1;
COMP "IROUT<15>" LOCATE = SITE "P29" LEVEL 1;
COMP "IROUT<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "IROUT<1>" LOCATE = SITE "P5" LEVEL 1;
COMP "IROUT<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "IROUT<3>" LOCATE = SITE "P9" LEVEL 1;
COMP "IROUT<4>" LOCATE = SITE "P11" LEVEL 1;
COMP "IROUT<5>" LOCATE = SITE "P12" LEVEL 1;
COMP "IROUT<6>" LOCATE = SITE "P15" LEVEL 1;
COMP "IROUT<7>" LOCATE = SITE "P16" LEVEL 1;
COMP "IROUT<8>" LOCATE = SITE "P18" LEVEL 1;
COMP "IROUT<9>" LOCATE = SITE "P19" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

