 NET "CLK" LOC = "P75";
 NET "RST" LOC = "P51";//RST=k47
 NET "RST" CLOCK_DEDICATED_ROUTE = FALSE;
//ABUS
NET "ABUS<0>" LOC = "P179";
NET "ABUS<1>" LOC = "P178";
NET "ABUS<2>" LOC = "P177";
NET "ABUS<3>" LOC = "P172";
NET "ABUS<4>" LOC = "P171";
NET "ABUS<5>" LOC = "P151";
NET "ABUS<6>" LOC = "P150";
NET "ABUS<7>" LOC = "P147";
NET "ABUS<8>" LOC = "P146";
NET "ABUS<9>" LOC = "P113";
NET "ABUS<10>" LOC = "P115";
NET "ABUS<11>" LOC = "P116";
NET "ABUS<12>" LOC = "P119";
NET "ABUS<13>" LOC = "P140";
NET "ABUS<14>" LOC = "P144";
NET "ABUS<15>" LOC = "P145";

//DBUS
NET "DBUS<0>" LOC = "P167";
NET "DBUS<1>" LOC = "P165";
NET "DBUS<2>" LOC = "P164";
NET "DBUS<3>" LOC = "P163";
NET "DBUS<4>" LOC = "P162";
NET "DBUS<5>" LOC = "P161";
NET "DBUS<6>" LOC = "P160";
NET "DBUS<7>" LOC = "P153";
NET "DBUS<8>" LOC = "P120";
NET "DBUS<9>" LOC = "P122";
NET "DBUS<10>" LOC = "P123";
NET "DBUS<11>" LOC = "P128";
NET "DBUS<12>" LOC = "P132";
NET "DBUS<13>" LOC = "P133";
NET "DBUS<14>" LOC = "P134";
NET "DBUS<15>" LOC = "P135";

NET "nMREQ" LOC = "P168";
NET "nRD" LOC = "P139";
NET "nWR" LOC = "P152";
NET "nBHE" LOC = "P138";
NET "nBLE" LOC = "P137";


//IR//S1S2
NET "IROUT<0>" LOC = "P4";
NET "IROUT<1>" LOC = "P5";
NET "IROUT<2>" LOC = "P8";
NET "IROUT<3>" LOC = "P9";
NET "IROUT<4>" LOC = "P11";
NET "IROUT<5>" LOC = "P12";
NET "IROUT<6>" LOC = "P15";
NET "IROUT<7>" LOC = "P16";
NET "IROUT<8>" LOC = "P18";
NET "IROUT<9>" LOC = "P19";
NET "IROUT<10>" LOC = "P22";
NET "IROUT<11>" LOC = "P23";
NET "IROUT<12>" LOC = "P24";
NET "IROUT<13>" LOC = "P25";
NET "IROUT<14>" LOC = "P28";
NET "IROUT<15>" LOC = "P29";


//ABUSOUT//s23
NET "ABUSOUT<0>" LOC = "P31";
NET "ABUSOUT<1>" LOC = "P33";
NET "ABUSOUT<2>" LOC = "P34";
NET "ABUSOUT<3>" LOC = "P35";
NET "ABUSOUT<4>" LOC = "P36";
NET "ABUSOUT<5>" LOC = "P39";
NET "ABUSOUT<6>" LOC = "P40";
NET "ABUSOUT<7>" LOC = "P41";
NET "ABUSOUT<8>" LOC = "P42";
NET "ABUSOUT<9>" LOC = "P45";
NET "ABUSOUT<10>" LOC = "P47";
NET "ABUSOUT<11>" LOC = "P48";
NET "ABUSOUT<12>" LOC = "P49";
NET "ABUSOUT<13>" LOC = "P50";
NET "ABUSOUT<14>" LOC = "P55";
NET "ABUSOUT<15>" LOC = "P56";


//DBUSOUT//s45
NET "DBUSOUT<0>" LOC = "P60";
NET "DBUSOUT<1>" LOC = "P61";
NET "DBUSOUT<2>" LOC = "P62";
NET "DBUSOUT<3>" LOC = "P63";
NET "DBUSOUT<4>" LOC = "P2";
NET "DBUSOUT<5>" LOC = "P108";
NET "DBUSOUT<6>" LOC = "P109";
NET "DBUSOUT<7>" LOC = "P112";
NET "DBUSOUT<8>" LOC = "P126";
NET "DBUSOUT<9>" LOC = "P127";
NET "DBUSOUT<10>" LOC = "P129";
NET "DBUSOUT<11>" LOC = "P202";
NET "DBUSOUT<12>" LOC = "P203";
NET "DBUSOUT<13>" LOC = "P205";
NET "DBUSOUT<14>" LOC = "P206";
NET "DBUSOUT<15>" LOC = "P103";

//TIMEOUT
NET "TIMEOUT<0>" LOC = "P196";
NET "TIMEOUT<1>" LOC = "P193";
NET "TIMEOUT<2>" LOC = "P192";
NET "TIMEOUT<3>" LOC = "P190";

//IDB k0
NET "IDB<0>" LOC = "P154";
NET "IDB<1>" LOC = "P148";
NET "IDB<2>" LOC = "P142";
NET "IDB<3>" LOC = "P136";
NET "IDB<4>" LOC = "P130";
NET "IDB<5>" LOC = "P124";
NET "IDB<6>" LOC = "P118";
NET "IDB<7>" LOC = "P110";

//ODB ALED
NET "ODB<0>" LOC = "P102";
NET "ODB<1>" LOC = "P100";
NET "ODB<2>" LOC = "P99";
NET "ODB<3>" LOC = "P98";
NET "ODB<4>" LOC = "P83";
NET "ODB<5>" LOC = "P82";
NET "ODB<6>" LOC = "P77";
NET "ODB<7>" LOC = "P185";

//state

NET "MREQ" LOC = "P3";//BLED
NET "RD" LOC = "P200";
NET "WR" LOC = "P199";
NET "BHE" LOC = "P197";

NET "PREQ" LOC = "P186";//CLED
NET "PRD" LOC = "P187";
NET "PWR" LOC = "P189";
//k2k3adll
NET "adll<0>" LOC = "P94";
NET "adll<1>" LOC = "P93";
NET "adll<2>" LOC = "P91";
NET "adll<3>" LOC = "P90";
NET "adll<4>" LOC = "P89";
NET "adll<5>" LOC = "P87";
NET "adll<6>" LOC = "P80";
NET "adll<7>" LOC = "P78";
NET "adll<8>" LOC = "P72";
NET "adll<9>" LOC = "P71";
NET "adll<10>" LOC = "P69";
NET "adll<11>" LOC = "P68";
NET "adll<12>" LOC = "P65";
NET "adll<13>" LOC = "P64";
NET "adll<14>" LOC = "P58";
NET "adll<15>" LOC = "P57";
