	NET "clk" LOC = "P75"| IOSTANDARD = LVTTL ;  
	NET "reset" LOC = "P74"| IOSTANDARD = LVTTL ; 
	NET "t1" LOC = "P186"| IOSTANDARD = LVTTL ; 
	NET "t2" LOC = "P187"| IOSTANDARD = LVTTL ; 
	NET "t3" LOC = "P189"| IOSTANDARD = LVTTL ; 
	NET "t4" LOC = "P179"| IOSTANDARD = LVTTL ; 