//! **************************************************************************
// Written by: Map P.49d on Tue Jul 01 14:53:14 2014
//! **************************************************************************

SCHEMATIC START;
COMP "s0<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "k4<0>" LOCATE = SITE "P54" LEVEL 1;
COMP "k3<4>" LOCATE = SITE "P65" LEVEL 1;
COMP "s0<3>" LOCATE = SITE "P9" LEVEL 1;
COMP "k4<1>" LOCATE = SITE "P6" LEVEL 1;
COMP "k3<5>" LOCATE = SITE "P64" LEVEL 1;
COMP "s1<0>" LOCATE = SITE "P18" LEVEL 1;
COMP "s0<4>" LOCATE = SITE "P11" LEVEL 1;
COMP "k4<2>" LOCATE = SITE "P14" LEVEL 1;
COMP "k3<6>" LOCATE = SITE "P58" LEVEL 1;
COMP "s1<1>" LOCATE = SITE "P19" LEVEL 1;
COMP "s0<5>" LOCATE = SITE "P12" LEVEL 1;
COMP "k4<3>" LOCATE = SITE "P20" LEVEL 1;
COMP "k3<7>" LOCATE = SITE "P57" LEVEL 1;
COMP "s1<2>" LOCATE = SITE "P22" LEVEL 1;
COMP "s0<6>" LOCATE = SITE "P15" LEVEL 1;
COMP "k4<4>" LOCATE = SITE "P26" LEVEL 1;
COMP "A<0>" LOCATE = SITE "P102" LEVEL 1;
COMP "s1<3>" LOCATE = SITE "P23" LEVEL 1;
COMP "s0<7>" LOCATE = SITE "P16" LEVEL 1;
COMP "k4<5>" LOCATE = SITE "P32" LEVEL 1;
COMP "A<1>" LOCATE = SITE "P100" LEVEL 1;
COMP "s2<0>" LOCATE = SITE "P31" LEVEL 1;
COMP "s1<4>" LOCATE = SITE "P24" LEVEL 1;
COMP "k4<6>" LOCATE = SITE "P43" LEVEL 1;
COMP "A<2>" LOCATE = SITE "P99" LEVEL 1;
COMP "s2<1>" LOCATE = SITE "P33" LEVEL 1;
COMP "s1<5>" LOCATE = SITE "P25" LEVEL 1;
COMP "k4<7>" LOCATE = SITE "P51" LEVEL 1;
COMP "A<3>" LOCATE = SITE "P98" LEVEL 1;
COMP "s2<2>" LOCATE = SITE "P34" LEVEL 1;
COMP "s1<6>" LOCATE = SITE "P28" LEVEL 1;
COMP "B<0>" LOCATE = SITE "P196" LEVEL 1;
COMP "A<4>" LOCATE = SITE "P83" LEVEL 1;
COMP "s2<3>" LOCATE = SITE "P35" LEVEL 1;
COMP "s1<7>" LOCATE = SITE "P29" LEVEL 1;
COMP "B<1>" LOCATE = SITE "P193" LEVEL 1;
COMP "A<5>" LOCATE = SITE "P82" LEVEL 1;
COMP "s3<0>" LOCATE = SITE "P42" LEVEL 1;
COMP "s2<4>" LOCATE = SITE "P36" LEVEL 1;
COMP "B<2>" LOCATE = SITE "P192" LEVEL 1;
COMP "A<6>" LOCATE = SITE "P77" LEVEL 1;
COMP "s3<1>" LOCATE = SITE "P45" LEVEL 1;
COMP "s2<5>" LOCATE = SITE "P39" LEVEL 1;
COMP "B<3>" LOCATE = SITE "P190" LEVEL 1;
COMP "A<7>" LOCATE = SITE "P185" LEVEL 1;
COMP "s3<2>" LOCATE = SITE "P47" LEVEL 1;
COMP "s2<6>" LOCATE = SITE "P40" LEVEL 1;
COMP "B<4>" LOCATE = SITE "P3" LEVEL 1;
COMP "s3<3>" LOCATE = SITE "P48" LEVEL 1;
COMP "s2<7>" LOCATE = SITE "P41" LEVEL 1;
COMP "B<5>" LOCATE = SITE "P200" LEVEL 1;
COMP "s4<0>" LOCATE = SITE "P60" LEVEL 1;
COMP "s3<4>" LOCATE = SITE "P49" LEVEL 1;
COMP "B<6>" LOCATE = SITE "P199" LEVEL 1;
COMP "s4<1>" LOCATE = SITE "P61" LEVEL 1;
COMP "s3<5>" LOCATE = SITE "P50" LEVEL 1;
COMP "B<7>" LOCATE = SITE "P197" LEVEL 1;
COMP "s4<2>" LOCATE = SITE "P62" LEVEL 1;
COMP "s3<6>" LOCATE = SITE "P55" LEVEL 1;
COMP "s4<3>" LOCATE = SITE "P63" LEVEL 1;
COMP "s3<7>" LOCATE = SITE "P56" LEVEL 1;
COMP "s5<0>" LOCATE = SITE "P126" LEVEL 1;
COMP "s4<4>" LOCATE = SITE "P2" LEVEL 1;
COMP "s5<1>" LOCATE = SITE "P127" LEVEL 1;
COMP "s4<5>" LOCATE = SITE "P108" LEVEL 1;
COMP "s5<2>" LOCATE = SITE "P129" LEVEL 1;
COMP "s4<6>" LOCATE = SITE "P109" LEVEL 1;
COMP "s5<3>" LOCATE = SITE "P202" LEVEL 1;
COMP "s4<7>" LOCATE = SITE "P112" LEVEL 1;
COMP "s5<4>" LOCATE = SITE "P203" LEVEL 1;
COMP "s5<5>" LOCATE = SITE "P205" LEVEL 1;
COMP "s5<6>" LOCATE = SITE "P206" LEVEL 1;
COMP "s5<7>" LOCATE = SITE "P103" LEVEL 1;
COMP "k0<0>" LOCATE = SITE "P154" LEVEL 1;
COMP "k0<1>" LOCATE = SITE "P148" LEVEL 1;
COMP "k0<2>" LOCATE = SITE "P142" LEVEL 1;
COMP "k0<3>" LOCATE = SITE "P136" LEVEL 1;
COMP "k1<0>" LOCATE = SITE "P174" LEVEL 1;
COMP "k0<4>" LOCATE = SITE "P130" LEVEL 1;
COMP "k1<1>" LOCATE = SITE "P204" LEVEL 1;
COMP "k0<5>" LOCATE = SITE "P124" LEVEL 1;
COMP "k1<2>" LOCATE = SITE "P194" LEVEL 1;
COMP "k0<6>" LOCATE = SITE "P118" LEVEL 1;
COMP "k1<3>" LOCATE = SITE "P175" LEVEL 1;
COMP "k0<7>" LOCATE = SITE "P110" LEVEL 1;
COMP "k2<0>" LOCATE = SITE "P94" LEVEL 1;
COMP "k1<4>" LOCATE = SITE "P169" LEVEL 1;
COMP "k2<1>" LOCATE = SITE "P93" LEVEL 1;
COMP "k1<5>" LOCATE = SITE "P101" LEVEL 1;
COMP "k2<2>" LOCATE = SITE "P91" LEVEL 1;
COMP "k1<6>" LOCATE = SITE "P97" LEVEL 1;
COMP "k2<3>" LOCATE = SITE "P90" LEVEL 1;
COMP "k1<7>" LOCATE = SITE "P96" LEVEL 1;
COMP "k3<0>" LOCATE = SITE "P72" LEVEL 1;
COMP "k2<4>" LOCATE = SITE "P89" LEVEL 1;
COMP "k3<1>" LOCATE = SITE "P71" LEVEL 1;
COMP "k2<5>" LOCATE = SITE "P87" LEVEL 1;
COMP "s0<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "k3<2>" LOCATE = SITE "P69" LEVEL 1;
COMP "k2<6>" LOCATE = SITE "P80" LEVEL 1;
COMP "s0<1>" LOCATE = SITE "P5" LEVEL 1;
COMP "k3<3>" LOCATE = SITE "P68" LEVEL 1;
COMP "k2<7>" LOCATE = SITE "P78" LEVEL 1;
SCHEMATIC END;

